# List and tuple
* list mutable [, , , ]
* tuple imutable ( , , ,  )

### list[index]
extract single value from list or tuple
### list[start:end]
extract multiple values from list or tuple (start enclude, end exclude one minus)
### list[start:end:seq]
extract multiple values from list or tuple also define sequance

* methods and attributes

In [1]:
name = "Muhammad Qasim"

In [4]:
# ->       0        1      2     3       4
names = ["Qasim","Nasir","Ali","Hamza","Mansoor"]
#           -5      -4     -3    -2      -1       <-

#list[index]
#list[start:end]
#list[start:end:seq]

# list[index]
extract single value from list or tuple

In [8]:
# ->       0        1      2     3       4
names = ["Qasim","Nasir","Ali","Hamza","Mansoor"]
#           -5      -4     -3    -2      -1       <-

print(names)
print(names[3]) # extract value with positive index
print(names[-2]) # extract value with negative index

['Qasim', 'Nasir', 'Ali', 'Hamza', 'Mansoor']
Hamza
Hamza

In [11]:
# ->       0        1      2     3       4
names = ["Qasim","Nasir","Ali","Hamza","Mansoor"] # elements, items
#           -5      -4     -3    -2      -1       <-
print("Before",names)

names[0] = "Muhammad Qasim" # update value with index number

print("After",names)

Before ['Qasim', 'Nasir', 'Ali', 'Hamza', 'Mansoor']
After ['Muhammad Qasim', 'Nasir', 'Ali', 'Hamza', 'Mansoor']

In [12]:
names

['Muhammad Qasim', 'Nasir', 'Ali', 'Hamza', 'Mansoor']

### list[start:end]
## Slicing (extract multiple values in sequance)
extract multiple values from list or tuple (start enclude, end exclude one minus)

esc->m->shift+enter

In [17]:
# ->       0        1      2     3       4
names = ["Qasim","Nasir","Ali","Hamza","Mansoor"] # elements, items
#           -5      -4     -3    -2      -1       <-

print(names[1:3]) # start enclude , end exclude index-1
print(names[1:4])
print(names[1:5])

['Nasir', 'Ali']
['Nasir', 'Ali', 'Hamza']
['Nasir', 'Ali', 'Hamza', 'Mansoor']

#### what we apply before slicing feature not part of this class just for refference we write here

In [15]:
names = ["Qasim","Nasir","Ali","Hamza","Mansoor"] # elements, items


i = 0
while i<len(names):
    print(names[i])
    i += 1

Qasim
Nasir
Ali
Hamza
Mansoor

In [16]:
names = ["Qasim","Nasir","Ali","Hamza","Mansoor"] # elements, items

s = int(input("start no:"))
e = int(input("end no:"))
i = s
while i<e:
    print(names[i])
    i += 1

start no:1
end no:4
Nasir
Ali
Hamza

### list[start:end:seq]
extract multiple values from list or tuple also define sequance<br>
start = enclude<br>
end = exclude or index-1<br>
sequance = steps (defualt value of step=1)<br> 


- range(start,end,step)

In [18]:
numbers = list(range(1,21))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [24]:
numbers = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
print(numbers)
#[start:end:step]
print(numbers[8:])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [25]:
numbers = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
print(numbers)
#[start:end:step]
print(numbers[:16])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [26]:
numbers = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
print(numbers)
#[start:end:step]
print(numbers[7:16]) #numbers[7:16:1]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[8, 9, 10, 11, 12, 13, 14, 15, 16]

In [27]:
numbers = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
print(numbers)
#[start:end:step]
print(numbers[::2]) #numbers[7:16:1]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [28]:
numbers = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
print(numbers)
#[start:end:step]
print(numbers[::3]) #numbers[7:16:1]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 4, 7, 10, 13, 16, 19]

if step = 1 (slicing left to right)<br>
if step = -1 (slicing right to left)

In [29]:
numbers = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
print(numbers)
#[start:end:step]
print(numbers[::-1]) # right to left

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [48]:
numbers = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
print(numbers)
#[start:end:step]
print(numbers[0:10:-1]) # right to left
print(numbers[::-1]) # right to left
print(numbers[-11:-21:-1])
print(numbers[9::-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[]
[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [72]:
numbers = [1,2,3,4,5]
print(numbers)
print(numbers[::-1])
print(numbers[3:0:-1]) #4,3,2
print(numbers[-2:-5:-1]) #4,3,2

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
[4, 3, 2]
[4, 3, 2]

In [74]:
numbers = [1,2,3,4,5]
print(numbers)
print(numbers[-2:-5:]) #4,3,2
print(numbers[-5:-2:1])
print(numbers[2::-1])

[1, 2, 3, 4, 5]
[]
[1, 2, 3]
[3, 2, 1]