In [ ]:
num1=int(input('enter the number1:'))
num2=int(input('enter the number2:'))
num3=int(input('enter the number3:'))
num4=int(input('enter the number4:'))
if num1>num4:
    f1=num1
else:
    f1=num4
if num2>num3:
    f2=num2
else:
    f2=num3
if f1>f2:
    print("the greatest num is:"+str(f1))
else:
    print('greatest num is:'+str(f2))

In [ ]:
name=input('enter your name:')

In [ ]:
length=name.len()

In [ ]:
if length<10:

In [ ]:
print('no of character is less than 10')

In [ ]:
elif length>10:

In [ ]:
print('no of character is greater than 10')

In [ ]:
else:

In [ ]:
print('invalid input')

In [97]:
name=input('enter your name:')
length=name.len()
if length<10:
    print('no of character is less than 10')
elif length>10:
    print('no of character is greater than 10')
else:
    print('invalid input')

enter your name:sif

AttributeError: 'str' object has no attribute 'len'

code for table printing:

In [ ]:
num=int(input('enter the number:'))
for i in range(1,11):
    print(str(num)+'X'+str(i)+"="+str(num*i))

using of f function:

In [17]:
num=int(input('enter the number:'))
for i in range(-1,-11):
    print(f'{num}X{i}={num*i}')

enter the number:5

using of startwith:

In [18]:
l1=['sufyan','sherry','husnain','hammad']
for name in l1:
    if name.startswith('s'):
        print( 'hello'  + name)

hellosufyan
hellosherry

use of while loop

Reverse table printing:

In [1]:
num=int(input('enter the number:'))
i=1
while i<=10:
    print(f'{num}X{i}={num*i}')
    i=i+1

enter the number:10
10X1=10
10X2=20
10X3=30
10X4=40
10X5=50
10X6=60
10X7=70
10X8=80
10X9=90
10X10=100

Reverse table using for loop:

In [6]:
num=int(input("enter the number:"))
for i in range(10,0,-1):
    print(f"{num}X{i}={num*i}")

enter the number:10
10X10=100
10X9=90
10X8=80
10X7=70
10X6=60
10X5=50
10X4=40
10X3=30
10X2=20
10X1=10

Reverse table using while loop:

In [7]:
num=int(input('enter the number:'))
i=10
while i>0:
    print(f"{num}X{i}={num*i}")
    i=i-1

enter the number:10
10X10=100
10X9=90
10X8=80
10X7=70
10X6=60
10X5=50
10X4=40
10X3=30
10X2=20
10X1=10

check prime or not

In [18]:
num=int(input('enter the number:'))
prime=True
for i in range (2,num):
    if (num%i==0):
        prime=False
        break
if prime:
    print('the number is prime')
else:
    print('the number is not prime')

enter the number:2
the number is prime

In [3]:
num=int(input('enter the number:'))
factorial=1
for i in range (1,num+1):
    factorial=factorial*i
print(f"the factorial of {num} is {factorial}")

enter the number:10
the factorial of 10 is 3628800

sum of natural numbers:

In [22]:
num=int(input('enter the number:'))
number=0
while number<=num:
    number=number+num
    number=number+1
print(f'the sum of first {num} natural numbers is {number}')

enter the number:56
the sum of first 56 natural numbers is 57

printing patren

In [1]:
i=10
for i in range(10):
    print('*'*(i))

*
**
***
****
*****
******
*******
********
*********

In [14]:
n=4
for i in range(3):
    print(" "*(n-i-1),end="")
    print("*"*(2*i+1),end="")
    print(" "*(n-i-1))

   *
  ***
 *****

In [46]:
n=5
for i in range(n):
    for j in range(n):
        print('*',end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [54]:
n=5
for i in range(n):
    for j in range(n):
        print(' ',end=" ")
        print("*",end=" ")
    print()

  *   *   *   *   *
  *   *   *   *   *
  *   *   *   *   *
  *   *   *   *   *
  *   *   *   *   *

Increasing pattern

In [58]:
n=5
for i in range(n):
    for j in range(i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

Decreasing pattern

In [61]:
n=5
for i in range(n):
    for j in range(i,n):
        print('*',end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

Right sided triangle

In [74]:
n=5
for i in range(n):
    for j in range(i,n):
        print(" ",end=" ")
    for j in range(i+1):
        print("*",end=" ")
    print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [68]:
n=5
for i in range(n):
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,n):
        print("*",end=" ")
    print()

  * * * * *
    * * * *
      * * *
        * *
          *

In [91]:
n=5
for i in range(n):
    for j in range(i,n):
        print(" ",end=" ")
    for j in range(i):
        print("*",end=" ")
    for j in range(i+1):
        print("*",end=" ")
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [92]:
n=5
for i in range(n):
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,n-1):
        print("*",end=" ")
    for j in range(i,n):
        print('*',end=" ")
    print()

  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [95]:
n=5
for i in range(n-1):
    for j in range(i,n):
        print(" ",end=" ")
    for j in range(i):
        print("*",end=" ")
    for j in range(i+1):
        print("*",end=" ")
    print()
for i in range(n):
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,n-1):
        print("*",end=" ")
    for j in range(i,n):
        print('*',end=" ")
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [12]:
n=3
for i in range(n):
    for j in range(i,n):
        print(" ",end=" ")
    for j in range(i):
        print("*",end=" ")
    for j in range(i+1):
        print("*",end=" ")
    for j in range(i,n):
        print(" ",end=" ")
    for j in range(i):
        print("*",end=" ")
    for j in range(i+1):
        print("*",end=" ")
        
    print()

      *       *
    * * *     * * *
  * * * * *   * * * * *

In [42]:
def lines(n):
    for i in range(n):
        for j in range(i,n):
            print("*",end=" ")
        print()
    return 

f=lines(5)
print(f)

* * * * *
* * * *
* * *
* *
*
None

In [43]:
f=lines(20)
print(f)

* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * *
* * * * * * * * * * * * * *
* * * * * * * * * * * * *
* * * * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*
None